<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/extra/css/myform.css">
</head>
<body>
	<div class="layui-container" style="padding: 20px 40px 20px 20px">
		<form id = "formId" action="" class="layui-form">
			<input type="text" hidden="true" id="authId" name="authId">
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">父节点</label>
				<div class="layui-input-block layui-col-md10">
					 <select name="pId" lay-filter="">
				        <option value=""></option>
				      </select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">权限类型</label>
				<div class="layui-input-block layui-col-md10">
					 <select name="authType" lay-filter="">
				        <option value=""></option>
				        <option value="1" selected="">导航</option>
				        <option value="2">菜单</option>
				        <option value="3">api</option>
				        <option value="4">按钮</option>
				      </select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">权限名</label>
				<div class="layui-input-block layui-col-md10">
					<input type="text" name="authName" lay-verify="required"
						autocomplete="off" placeholder="请输入权限名" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">权限logo</label>
				<div class="layui-input-block layui-col-md10">
					<input type="text" name="authLogo" lay-verify=""
						autocomplete="off" placeholder="请选择权限logo" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">权限URL</label>
				<div class="layui-input-block layui-col-md10">
					<input type="text" name="authUrl" 
						autocomplete="off" placeholder="请选择权限URL" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label layui-col-md2 layui-myform-label">排序</label>
				<div class="layui-input-block layui-col-md10">
					<input type="number" name="sort" lay-verify=""
						autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="addAuth">添加</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	
	<script type="text/javascript" src="../common/jquery.min.js"></script>
	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../common/common.js"></script>
	<script type="text/javascript" src="../js/editAuth.js"></script>
</body>
</html>